
button{
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: gray;
    margin: 3px;
}
button:hover{
    background-color: rgb(77, 76, 76);
}